<div class="header-container">
    <nav class="header-inner-container">
        <LinkTo @route="tasks"> View my Tasks </LinkTo>
        <LinkTo @route="update-task"> Update my Task </LinkTo>
        <LinkTo @route="create-task"> Create new Task </LinkTo>
    </nav>
</div>