{{page-title "EmberjsAssignment"}}

{{!-- How to call the API --}}
{{!-- Adding form validation --}}
<div class="task-container">
  <div class="task-inner-container">
    <h1 class="task-heading"> Create Task Below: </h1>
    <form action="submit" class="task-form">

      <div class="task-form-group">
        <label for="title"> Title: </label>
        <input name="title" type="text" placeholder="Title goes here." />
      </div>
      <div class="task-form-group">
        <label for="description"> Description: </label>
        <input name="description" type="text" placeholder="Description goes here." />
      </div>

      <div class="task-form-group">
        <label for="status"> Status: </label>
        <input name="status" type="text" placeholder="Status goes here." />
      </div>

    <div class="task-form-group">
        <label for="dueDate"> Due Date: </label>
        <input name="dueDate" type="datetime-local" placeholder="dueDate goes here." />
      </div>
    </form>
  </div>
</div>

<Counter />
{{outlet}}